<template name="donut">
  <div class="area" id="donutArea">
    <div class="area" id="donut_title">
        <div id="dieTestwerteuntersCopy">
        Die Testwerte unterscheiden sich von den Referenzwerten zu …
      </div>
    </div>

    <div class="area" id="donut_boxes">
      <div class="donutbox">
        <div class="combinedShapeCopy">
          <svg class="first_donut"></svg>
        </div>
        <div id="tendenziell">tendenziell</div>
      </div>

      <div class="donutbox">
        <div class="combinedShapeCopy">
          <svg class="second_donut"></svg>
        </div>
        <div id="signifikant">signifikant</div>
      </div>

      <div class="donutbox">
        <div class="combinedShapeCopy">
          <svg class="third_donut"></svg>
        </div>
        <div id="sehrsignifikant">sehr signifikant</div>
      </div>

      <div class="donutbox">
        <div class="combinedShapeCopy">
          <svg class="fourth_donut"></svg>
        </div>
        <div id="hochsignifikant">hoch signifikant</div>
      </div>
    </div>
  </div>
  
</template>