<template name="textArea">
  <div class="area" id="dataArea">
    <div class="box" style="padding-right: 64px">
      <div id="referenz">
        Referenz
      </div>
      <div>
        <div class="rectangle2">
          <textarea class="fgehierdeineRefe" id="reference" placeholder="Füge hier deine Referenzdaten ein."></textarea>
          <div id="iconDarkCloseIconDark">
            <!-- <a href="#">
              <img src="/images/if_icon-close-round_211651.png" style="width: 12px;">
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div id="referenz">
        Test
      </div>
      <div>
        <div class="rectangle2">
          <textarea class="fgehierdeineRefe" id="test" placeholder="Füge hier deine Testdaten ein.
          "></textarea>
        </div>
      </div>
    </div>
  </div>
</template>